body {
    overflow-x: hidden;
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  text-align: center;
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 1s ease 0s;
}

.navbar.solid {
  background-color: #333;
}

.navbar a {
  user-select: none;
  font: 1em 'PT Serif', serif;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 30px;
  background-image: linear-gradient(gray, gray), linear-gradient(transparent, transparent);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
  padding: 8px 40px;
}

.navbar a:hover {
background-size: 100% 5px, auto;
}

.ab {
  padding-top: 280px;
  font-style: 'Felipa'; 
  font-size: 400%;
  text-align: center;
  font-weight: 100;
  padding-right: 10px;
  color:#bfbfbf;
  user-select: none;
}

.sekcja {
  font-family: 'PT Serif', serif;
  height: 700px;
  color:#f2f2f2;
  margin-top: -25px;
}

.home {
  font-family: 'Felipa', cursive;
  height: 800px;
  width: 100%;
  color: white;
  text-align: center;
  background-image: url("/img/albert1.jpg");
  background-repeat: no-repeat;
  margin-top:-45px;
  background-size: cover;
}

.sekcja.historia {
  background-color: #7D5943;
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 80px;
  font-size: 160%;
}

.sekcja.ciekawostki {
  padding-right: 35px;
  background-color: #B09B8D;
  padding-top: 40px;
  text-align: center;
  font-size: 125%;
}

.lista {
  display:grid;
  grid-template-columns: 50% 50%;
  font-size: 115%;
}

.zdjecia {
  background-color: #635963;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  padding-left: 200px;
  padding-top: 75px;
  text-align: center;
  height: 700px;
}
.zdj {
  width: 210px;
  height: 270px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.zdj:hover {
  box-shadow: 0 16px 30px rgba(0,0,0,0.25), 0 13px 13px rgba(0,0,0,0.22);
}

.koniec{
  color: white;
  background-color: #4d1818;
  border-color: #4d1818;
  height: 40px;
  text-align: center;
  margin-bottom: -20px;
  margin-top: -45px;
  padding-top: 25px;
  font-size: 110%;
}

.koniec a {
  color: #cc231e;
  text-decoration: underline;
  transition-duration: 0.5s;
}

.koniec a:hover{
  color:white;
  cursor: pointer;
}